@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebShop.Areas.Admin.Models.ProductModel
@{
    ViewData["Title"] = "Send";
    Layout = "~/Areas/Admin/Views/Shared/_MasterLayout.cshtml";
}
<div class="container py-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form method="post" enctype="multipart/form-data" class="form-horizontal" asp-controller="Table" asp-action="AddItem">
                <div class="form-group row">

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Add Product Form</strong> Elements
                            </div>
                            <div class="card-body card-block">
                                <!--Name-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="tensanpham" class="control-label">Product Name</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="tensanpham" class="form-control" />
                                        <span asp-validation-for="tensanpham" class="text-danger"></span>
                                        <small class="form-text text-muted">Please enter Product's name</small>
                                    </div>
                                </div>

                                <!--Color-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="mausac" class="control-label">Color</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="mausac" class="form-control" />
                                        <span asp-validation-for="mausac" class="text-danger"></span>
                                        <small class="help-block form-text">Please enter Product's color</small>
                                    </div>
                                </div>

                                <!--Price-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="gia" class="control-label">Price</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="gia" class="form-control" />
                                        <span asp-validation-for="gia" class="text-danger"></span>
                                        <small class="help-block form-text">Please enter Product's price</small>
                                    </div>
                                </div>

                                <!--Specification ID-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="thongsoid" class="control-label">Specification ID</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="thongsoid" class="form-control" />
                                        <span asp-validation-for="thongsoid" class="text-danger"></span>
                                        <small class="help-block form-text">Please enter Product's specification ID</small>
                                    </div>
                                </div>

                                <!--Type-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="danhmucid" class="control-label">Type ID</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="danhmucid" class="form-control" />
                                        <span asp-validation-for="danhmucid" class="text-danger"></span>
                                        <small class="help-block form-text">
                                            Please enter one of these number:
                                            1.Phone-Samsung, 2.Phone-Apple, 3.Phone-Xiaomi, 4.Phone-Nokia, 11.Tablet-Samsung, 12.Tablet-Apple, 13.HeadPhone-Sony, 14.HeadPhone-AGC
                                        </small>
                                    </div>
                                </div>

                                <!--Benefit-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="uudai" class="control-label">Benefit</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <textarea asp-for="uudai" row="9" class="form-control"></textarea>
                                        <span asp-validation-for="uudai" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="cosan" class="control-label">Available</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select asp-for="cosan" class="form-control-sm form-control">
                                            <option value="0">Please select</option>
                                            <option value="1">Avail</option>
                                            <option value="2">Out of amount</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="phanTramGiamGia" class="control-label">Pecentage of reducing price</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select asp-for="phanTramGiamGia" class="form-control-sm form-control">
                                            <option value="0">Please select</option>
                                            <option value="1">10</option>
                                            <option value="2">20</option>
                                            <option value="2">30</option>
                                            <option value="2">40</option>
                                            <option value="2">50</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="file-multiple-input" asp-for="hinhanhsanpham" class=" form-control-label">Multiple Images input</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="file" id="file-multiple-input" name="files" multiple="" class="form-control-file">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                    <!------------------->


                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Basic Form</strong> Elements
                            </div>
                            <div class="card-body card-block">

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Static</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <p class="form-control-static">Username</p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="text-input" class=" form-control-label">Text Input</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="text-input" name="text-input" placeholder="Text" class="form-control">
                                        <small class="form-text text-muted">This is a help text</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="email-input" class=" form-control-label">Email Input</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="email" id="email-input" name="email-input" placeholder="Enter Email" class="form-control">
                                        <small class="help-block form-text">Please enter your email</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="password-input" class=" form-control-label">Password</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="password" id="password-input" name="password-input" placeholder="Password" class="form-control">
                                        <small class="help-block form-text">Please enter a complex password</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="disabled-input" class=" form-control-label">Disabled Input</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="disabled-input" name="disabled-input" placeholder="Disabled" disabled="" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="textarea-input" class=" form-control-label">Textarea</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <textarea name="textarea-input" id="textarea-input" rows="9" placeholder="Content..." class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="select" class=" form-control-label">Select</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="select" id="select" class="form-control">
                                            <option value="0">Please select</option>
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="selectLg" class=" form-control-label">Select Large</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="selectLg" id="selectLg" class="form-control-lg form-control">
                                            <option value="0">Please select</option>
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="selectSm" class=" form-control-label">Select Small</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="selectSm" id="SelectLm" class="form-control-sm form-control">
                                            <option value="0">Please select</option>
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                            <option value="4">Option #4</option>
                                            <option value="5">Option #5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="disabledSelect" class=" form-control-label">Disabled Select</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="disabledSelect" id="disabledSelect" disabled="" class="form-control">
                                            <option value="0">Please select</option>
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="multiple-select" class=" form-control-label">Multiple select</label>
                                    </div>
                                    <div class="col col-md-9">
                                        <select name="multiple-select" id="multiple-select" multiple="" class="form-control">
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                            <option value="4">Option #4</option>
                                            <option value="5">Option #5</option>
                                            <option value="6">Option #6</option>
                                            <option value="7">Option #7</option>
                                            <option value="8">Option #8</option>
                                            <option value="9">Option #9</option>
                                            <option value="10">Option #10</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Radios</label>
                                    </div>
                                    <div class="col col-md-9">
                                        <div class="form-check">
                                            <div class="radio">
                                                <label for="radio1" class="form-check-label ">
                                                    <input type="radio" id="radio1" name="radios" value="option1" class="form-check-input">Option 1
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label for="radio2" class="form-check-label ">
                                                    <input type="radio" id="radio2" name="radios" value="option2" class="form-check-input">Option 2
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label for="radio3" class="form-check-label ">
                                                    <input type="radio" id="radio3" name="radios" value="option3" class="form-check-input">Option 3
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Inline Radios</label>
                                    </div>
                                    <div class="col col-md-9">
                                        <div class="form-check-inline form-check">
                                            <label for="inline-radio1" class="form-check-label ">
                                                <input type="radio" id="inline-radio1" name="inline-radios" value="option1" class="form-check-input">One
                                            </label>
                                            <label for="inline-radio2" class="form-check-label ">
                                                <input type="radio" id="inline-radio2" name="inline-radios" value="option2" class="form-check-input">Two
                                            </label>
                                            <label for="inline-radio3" class="form-check-label ">
                                                <input type="radio" id="inline-radio3" name="inline-radios" value="option3" class="form-check-input">Three
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Checkboxes</label>
                                    </div>
                                    <div class="col col-md-9">
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <label for="checkbox1" class="form-check-label ">
                                                    <input type="checkbox" id="checkbox1" name="checkbox1" value="option1" class="form-check-input">Option 1
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox2" class="form-check-label ">
                                                    <input type="checkbox" id="checkbox2" name="checkbox2" value="option2" class="form-check-input"> Option 2
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox3" class="form-check-label ">
                                                    <input type="checkbox" id="checkbox3" name="checkbox3" value="option3" class="form-check-input"> Option 3
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Inline Checkboxes</label>
                                    </div>
                                    <div class="col col-md-9">
                                        <div class="form-check-inline form-check">
                                            <label for="inline-checkbox1" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1" class="form-check-input">One
                                            </label>
                                            <label for="inline-checkbox2" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2" class="form-check-input">Two
                                            </label>
                                            <label for="inline-checkbox3" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="option3" class="form-check-input">Three
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="file-input" class=" form-control-label">File input</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="file" id="file-input" name="file-input" class="form-control-file">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="file-multiple-input" class=" form-control-label">Multiple File input</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="file" id="file-multiple-input" name="file-multiple-input" multiple="" class="form-control-file">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="inputFirstname">First name</label>
                        <input type="text" class="form-control" id="inputFirstname" placeholder="First name">
                    </div>

                    <div class="col-sm-6">
                        <label for="inputLastname">Last name</label>
                        <input type="text" class="form-control" id="inputLastname" placeholder="Last name">
                    </div>
                </div>



                <div class="form-group">

                    <button type="submit" action="AddItem" class="btn btn-primary btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>

                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
