@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebShop.Areas.Admin.Models.ProductModel
@{
    ViewData["Title"] = "AddItem";
    Layout = "~/Areas/Admin/Views/Shared/_MasterLayout.cshtml";
    var item = ViewBag.Item;
    var spec = ViewBag.Spec;
    
    var routeData = new Dictionary<string, string>();
    routeData["id"] = item.id + "";
}
    



<div class="container py-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form method="post" enctype="multipart/form-data" class="form-horizontal" asp-controller="Table" asp-action="EditItem"  asp-all-route-data="@routeData">
                <div class="form-group row">

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Add Product Form @ViewBag.Mess</strong> Elements
                            </div>

                            <div class="card-body card-block">
                                <!--Name-->

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="tensanpham" class="control-label">Product Name</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="tensanpham" value=@item.tensanpham class="form-control" />
                                        <span asp-validation-for="tensanpham" class="text-danger"></span>
                                        <small class="form-text text-muted">Please enter Product's name</small>
                                    </div>
                                </div>

                                <!--Color-->

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="mausac" class="control-label">Color</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="mausac" value=@item.mausac class="form-control" />
                                        <span asp-validation-for="mausac" class="text-danger"></span>
                                        <small class="help-block form-text">Please enter Product's color</small>
                                    </div>
                                </div>

                                <!--Price-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="gia" class="control-label">Price</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="gia" value=@item.gia class="form-control" />
                                        <span asp-validation-for="gia" class="text-danger"></span>
                                        <small class="help-block form-text">Please enter Product's price</small>
                                    </div>
                                </div>

                                <!--Specification ID-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="thongsoid" class="control-label">Specification ID</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="thongsoid" value=@spec.id disabled class="form-control" />
                                        <span asp-validation-for="thongsoid" class="text-danger"></span>
                                        <small class="help-block form-text">Please enter Product's specification ID</small>
                                    </div>
                                </div>

                                <!--Type-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="danhmucid" class="control-label">Type ID</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="danhmucid" value=@item.danhmucid class="form-control" />
                                        <span asp-validation-for="danhmucid" class="text-danger"></span>
                                        <small class="help-block form-text">
                                            Please enter one of these number:
                                            1.Phone-Samsung, 2.Phone-Apple, 3.Phone-Xiaomi, 4.Phone-Nokia, 11.Tablet-Samsung, 12.Tablet-Apple, 13.HeadPhone-Sony, 14.HeadPhone-AGC
                                        </small>
                                    </div>
                                </div>

                                <!--Benefit-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="uudai" class="control-label">Benefit</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <textarea asp-for="uudai" row="9" placeholder=@item.uudai class="form-control"></textarea>
                                        <span asp-validation-for="uudai" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="cosan" class="control-label">Available</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select asp-for="cosan" class="form-control-sm form-control">
                                            <option value=@item.cosan>@item.cosan</option>
                                            <option value="Avail">Avail</option>
                                            <option value="Out of amount">Out of amount</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="soluong" class="control-label">Amount</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="soluong" value=@item.soluong class="form-control" />
                                        <span asp-validation-for="soluong" class="text-danger"></span>
                                        <small class="help-block form-text"></small>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="phanTramGiamGia" class="control-label">Pecentage of reducing price</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select asp-for="phanTramGiamGia" class="form-control-sm form-control">
                                            <option value=@item.phanTramGiamGia>@item.phanTramGiamGia</option>
                                            <option value="0">0</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="hinhanhsanpham" class="control-label">Image</label>
                                        <div class="custom-file">
                                            <input asp-for="hinhanhsanpham" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Choose file</label>

                                        </div>
                                        <span asp-validation-for="hinhanhsanpham" class="text-danger"></span>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                    <!---------Specification--------->


                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Product's Specification</strong> Elements
                            </div>
                            <div class="card-body card-block">
                                <!-- 1 -->
                                <!-- 2 -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="hedieuhanh" class="control-label">Platform</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="hedieuhanh" value=@spec.hedieuhanh class="form-control" />
                                        <span asp-validation-for="hedieuhanh" class="text-danger"></span>

                                    </div>
                                </div>


                                <!-- 3 -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="loaimanhinh" class="control-label">Screen Type</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="loaimanhinh" value=@spec.loaimanhinh class="form-control" />
                                        <span asp-validation-for="loaimanhinh" class="text-danger"></span>

                                    </div>
                                </div>


                                <!-- 4 -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="dophangiai" class="control-label">Display(Pixel)</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="dophangiai" value=@spec.dophangiai class="form-control" />
                                        <span asp-validation-for="dophangiai" class="text-danger"></span>

                                    </div>
                                </div>


                                <!-- 5 -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="manhinhrong" class="control-label">Width</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="manhinhrong" value=@spec.manhinhrong class="form-control" />
                                        <span asp-validation-for="manhinhrong" class="text-danger"></span>

                                    </div>
                                </div>


                                <!-- 6 -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="camerasau" class="control-label">Back Cam</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="camerasau" value=@spec.camerasau class="form-control" />
                                        <span asp-validation-for="camerasau" class="text-danger"></span>

                                    </div>
                                </div>


                                <!-- 7 -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="cameratruoc" class="control-label">Front Cam</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="cameratruoc" value=@spec.cameratruoc class="form-control" />
                                        <span asp-validation-for="cameratruoc" class="text-danger"></span>

                                    </div>
                                </div>


                                <!-- 8-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="quayphim" class="control-label">Video</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="quayphim" value=@spec.quayphim class="form-control" />
                                        <span asp-validation-for="quayphim" class="text-danger"></span>

                                    </div>
                                </div>


                                <!-- 9 -->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="tocdocpu" class="control-label">CPU's speed</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="tocdocpu" value=@spec.tocdocpu class="form-control" />
                                        <span asp-validation-for="tocdocpu" class="text-danger"></span>

                                    </div>
                                </div>


                                <!-- 10-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="chipset" class="control-label">Chipset</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="chipset" value=@spec.chipset class="form-control" />
                                        <span asp-validation-for="chipset" class="text-danger"></span>

                                    </div>
                                </div>


                                <!-- 11-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="ram" class="control-label">RAM</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="ram" value=@spec.ram class="form-control" />
                                        <span asp-validation-for="ram" class="text-danger"></span>

                                    </div>
                                </div>


                                <!-- 12-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="chipdohoa" class="control-label">Graphic Chipset</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="chipdohoa" value=@spec.chipdohoa class="form-control" />
                                        <span asp-validation-for="chipdohoa" class="text-danger"></span>

                                    </div>
                                </div>


                                <!-- 13-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="rom" class="control-label">ROM</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="rom" value=@spec.rom class="form-control" />
                                        <span asp-validation-for="rom" class="text-danger"></span>

                                    </div>
                                </div>


                                <!-- 14-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="theNhoNgoai" class="control-label">External ROM</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="theNhoNgoai" value=@spec.theNhoNgoai class="form-control" />
                                        <span asp-validation-for="theNhoNgoai" class="text-danger"></span>

                                    </div>
                                </div>
                                <!-- 15-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="trongluong" class="control-label">Weight</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="trongluong" value=@spec.trongluong class="form-control" />
                                        <span asp-validation-for="trongluong" class="text-danger"></span>

                                    </div>
                                </div>


                                <!-- 16-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="dungluongpin" class="control-label">Battery</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="dungluongpin" value=@spec.dungluongpin class="form-control" />
                                        <span asp-validation-for="dungluongpin" class="text-danger"></span>

                                    </div>
                                </div>
                                <!-- 17-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="bluetooth" class="control-label">Bluetooth</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="bluetooth" value=@spec.bluetooth class="form-control" />
                                        <span asp-validation-for="bluetooth" class="text-danger"></span>

                                    </div>
                                </div>
                                <!-- 18-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="wifi" class="control-label">Wifi</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="wifi" value=@spec.wifi class="form-control" />
                                        <span asp-validation-for="wifi" class="text-danger"></span>

                                    </div>
                                </div>
                                <!-- 19-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="gprs" class="control-label">5G</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="gprs" value=@spec.C5G class="form-control" />
                                        <span asp-validation-for="gprs" class="text-danger"></span>

                                    </div>
                                </div>


                                <!--20-->
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label asp-for="loaisim" class="control-label">Sim Type</label>

                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input asp-for="loaisim" value=@spec.loaisim class="form-control" />
                                        <span asp-validation-for="loaisim" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">

                            <button type="submit" action="AddItem" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>

                            <button type="reset" class="btn btn-danger btn-sm">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>