@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MasterLayout.cshtml";
}

<form method="post" enctype="multipart/form-data" asp-area="Admin" asp-controller="FileUpload" asp-action="Index">
    <input type ="file" name="files" multiple />
    <input type ="submit" value="Insert"/>
    <hr />
    <h3> @ViewBag.mess</h3>
</form>

